# Database Source Configuration
SOURCE_USER=your_source_db_user
SOURCE_PASSWORD=your_source_db_password
SOURCE_DSN=host:port/service_name

# Database Destination Configuration (DWH/Target)
DEST_USER=your_target_db_user
DEST_PASSWORD=your_target_db_password
DEST_DSN=host:port/service_name

# Telegram Alerts Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
